.main-grid-container{
	/*width: 240px;*/
}

.single-row {
	background-color: green;
	width: auto;
	height: auto;
	position: relative;

	margin-top: 5px;
	overflow: hidden;
}

.single-col {
	/*background-color: yellow;*/
	width: 40px;
	height: 40px;
	position: relative;
	display: inline-block;
	margin-top: 5px;
	margin-left: 5px;
	overflow: hidden;
}