<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.column {
    float: left;
    width: 10.33%;
    padding: 4px;
    height: 60px; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
